{% extends "armario/base.html" %}
{% block content %}
<!-- <img src="temp.png" alt="imagen" width="500" height="600"> -->
<section id="pic">
  <img id="imagess" src="temp.png" />
</section>

<section id="preText">
    <h1 id="prediction"></h1>
</section>

<section id="botonmodelo">
  <button id="electricbobalu" class='button-RUN' type="button" onclick="reloadimg()" >RUN</button> 
</section>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        function reloadimg(){;
            $("#electricbobalu").attr("disabled","true");
            document.getElementById("prediction").innerHTML = "prediciendo...";
            $.get("http://127.0.0.1:8000/img", (data, status) => {
                document.getElementById("prediction").innerHTML = data.response;
                var src = "temp.png?"+new Date().getTime();
                imageObject = document.getElementById("imagess");
                imageObject.style.display = 'flex';
                imageObject.src = src;
                $("#electricbobalu").removeAttr("disabled");
            });
            
        }
    </script>

  {% endblock content %}


